body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

main {
  margin: 16px 20%;
}

header {
  width: 100%;
  box-shadow: 0 1px 3px rgba(34, 34, 34, 0.2);
}

a {
  text-decoration: underline;
  color: inherit;
}

input[type="submit"] {
  cursor: pointer;
  height: 2rem;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 0 16px;
  border-color: black;
  font-size: 16px;
}

input[type="submit"]:hover.danger {
  background-color: orangered !important;
  color: white !important;
  border-color: darkred !important;
}

input[type="submit"]:hover {
  background-color: black;
  color: white;
}

input {
  font-size: 18px;
}

.error {
  color: crimson;
}

.topbar {
  margin: auto 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar .title {
  letter-spacing: 5px;
}

.topbar a {
  text-decoration: none;
}

.topbar h1 {
  margin: 0;
  padding: 1rem 0;
}

.quiz {
  padding: 0 8px;
  border-bottom: 1px solid #666666;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 24px 0;
}

.quiz .date {
  padding-left: 16px;
  white-space: nowrap;
}

.quiz .quiz-info {
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.quiz-title[type="submit"] {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  border-radius: 0;
}

.quiz-title[type="submit"]:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  main {
    margin: 16px 5%;
  }

  .topbar {
    margin: 0 5%;
  }
}
