{% extends "layout.html" %}

{% block content %}
    <h1>{{ error_message }}</h1>
    <form action="/create" method="POST">
        <input type="text" placeholder="Add title" name="title" value="{{ session.title }}">
        <br/>
        <br/>
        {% for i in range(questions) %}
            <input type="hidden" name="question_count" value="{{ questions }}">
            {% set question = session.get("question_" + i|string) %}
            <input type="text" placeholder="Question" name="question_{{ i }}" {% if question %} value="{{ question }}" {% endif %}>
            <br/>
            {% for j in range(4) %}
                {% set answer = session.get("answer_" + i|string + "_" + j|string) %}
                {% set correct = session.get("correct_" + i|string + "_" + j|string) %}
                <input type="text" placeholder="Answer {{ loop.index }}" name="answer_{{ i }}_{{ j }}" {% if answer %} value="{{ answer }}" {% endif %}>
                <input type="checkbox" name="correct_{{ i }}_{{ j }}" {% if correct %} checked {% endif %}>
                <label for="correct">Correct</label>
                <br/>
            {% endfor %}
            <br/>
        {% endfor %}
        <br/>
        <input type="submit" value="Add new question" name="new_question">
        <br/>
        <br/>
        <input type="submit" value="Publish!" name="publish">
    </form>
{% endblock %}
