{% extends "layout.html" %}

{% block content %}
    {% if session.username %}
        <form action="/create" method="GET">
            <input type="submit" value="Create a Quiz!">
        </form>
        <div class="quizzes">
        {% for quiz in quizzes %}
            <div class="quiz">
                <div class="quiz-info">
                    <form action={{"quiz/" ~ quiz[1]}} method="POST">
                        <input type="submit" value="{{ quiz[2] }}" class="quiz-title"/>
                    </form>
                    <h4>@{{ quiz[0] }}</h4>
                </div>
                <h4 class="date">{{ quiz[3].strftime('%Y-%m-%d') }}</h4>
                {% if admin %}
                    <form action="/" method="POST">
                        <input type="submit" value="Delete" name="delete" />
                        <input type="hidden" name="quiz_id" value={{ quiz[1] }} />
                    </form>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <a href="/login">Login / Register to create or try out a Quiz!</a>
    {% endif %}
{% endblock %}
