{% extends "layout.html" %}

{% block content %}
    {% if session.username %}
        <form action="/create" method="GET">
            <input type="submit" value="Create a Quiz!">
        </form>
    {% else %}
        <a href="/login">Login / Register to create a Quiz!</a>
    {% endif %}
    <div class="quizzes">
        {% for quiz in quizzes %}
        <div class="quiz">
            <h3 style="flex: 1;">{{ quiz[0] }}</h3>
            <h3 style="flex: 2;">{{ quiz[2] }}</h3>
            <form action={{"quiz/" ~ quiz[1]}} method="POST">
                <input type="submit" value="Start Quiz" />
            </form>
            {% if admin %}
                <form action="/" method="POST">
                    <input type="submit" value="Delete" name="delete" />
                    <input type="hidden" name="quiz_id" value={{ quiz[1] }} />
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
