<!DOCTYPE html>
<head>
    <title>Quizhub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="topbar">
            <a href="/" class="title"><h1>Quizhub</h1></a>
            {% if session.username %}
            <div>    
                <form style="display: inline-block;" action="/profile/{{ session.username }}" method="GET">
                    <input type="submit" value="{{ session.username }}" />
                </form>
                <a style="display: inline-block;" href="/logout">Logout</a>
            </div>
            {% else %}
                <a href="/login" >Login / Register</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>