{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    

    <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        <h4>
            {{ form.username.label }}
            {{ form.username }}
        </h4>
        <h4>
            {{ form.password.label }}
            {{ form.password }}
        </h4>
        {{ form.login_button }}
    </form>
    <br/>
    <a href={ url_for("register") }><strong>New user? Click here to create an account</strong></a>
{% endblock %}