{% extends "layout.html" %}

{% block content %}
    <h1>User's {{ username }} profile</h1>
    {% if can_remove %}
        <form action="/remove_profile" method="POST">
            <input class="danger" type="submit" value="Remove account permanently">
        </form>
    {% endif %}

    {% if quizzes|length > 0 %}
        <h2>Quizzes created by {{ username }}:</h2>
    {% endif %}
    {% for quiz in quizzes %}
        <div class="quiz">
            <div class="quiz-info">
                <form action={{"/quiz/" ~ quiz[1]}} method="POST">
                    <input type="submit" value="{{ quiz[2] }}" class="quiz-title"/>
                </form>
                <h4>@{{ quiz[0] }}</h4>
            </div>
            <h4 class="date">{{ quiz[3].strftime('%Y-%m-%d') }}</h4>
            {% if can_remove %}
                <div style="margin-left:16px;">
                    <form action="/" method="POST">
                        <input class="danger" type="submit" value="Delete" name="delete" />
                        <input type="hidden" name="quiz_id" value={{ quiz[1] }} />
                    </form>
                    <br>
                    <form action="/edit" method="POST">
                        <input type="submit" value="Edit" name="edit" />
                        <input type="hidden" name="quiz_id" value={{ quiz[1] }} />
                    </form>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}