{% extends "layout.html" %}

{% block content %}
    {% if question != None %}
        <h1>{{question[1]}}</h1>
        {% set index = index + 1 %}
        {{ index }}
        {% for answer in answers %}
            <form action="" method="POST">
                <input type="submit" value="{{ answer[0] }}"/>
                <input type="hidden" name="index" value={{ index }} />
                <input type="hidden" name="user_answer_id" value={{ answer[1] }} />
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}
